# Azure Blob Storage
BLOB_STORAGE_TYPE=azure
AZURE_STORAGE_ACCOUNT=
AZURE_STORAGE_KEY=
AZURE_STORAGE_CONTAINER=

# Email Auth
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_FROM=
SMTP_PASS=


# OpenAI API
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
OPENAI_API_VERSION=

# Azure Postgres
AZURE_POSTGRES_HOST=
AZURE_POSTGRES_PORT=
AZURE_POSTGRES_DB=
AZURE_POSTGRES_USER=
AZURE_POSTGRES_PASSWORD=

## Synonymous:
DATABASE_URL=

# Next.js
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# Misc
JWT_SECRET=
SITE_PASSWORD=